/*CSS rules for google fonts*/
/*
font-family: 'Playfair Display', serif; 
    styles: regular, medium, black
font-family: 'League Script', cursive;
font-family: 'Raleway', sans-serif;
    styles: extra light, light, regular, italic
*/

/*==================background, header/footer/nav display==================*/
#home {
    background-image: url(../images/minimal.png);
    width: 100%;
    min-height: 600px;
    box-shadow: 3px 3px 5px #193829;
    background-size: cover;
}
.black-back {
    background-color: #1E2425;
    width: 100%;
    min-height: 280px;
    box-shadow: 3px black;
    padding-top: 70px;
}
.grey-back {
    background-color: #343B3C;
    width: 100%;
    min-height: 280px;
    box-shadow: 10px  3px 10px black;
    padding-top: 70px;
}
footer {
    background-color: black;
    width: 100%;
    padding: 40px;
}
nav {
    background-color: #511D47;
    box-shadow: 3px  3px 3px black;
}
.main {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.about-image {
    padding-bottom: 30px;
}
.skills {
    background-color: #343B3C;
    padding: 24px;
    border: none;
    border-radius: 18px;
    outline: none;
}
.skills-inner {
    padding: 5px;
    text-align: center;
}
/*==================Text Styling==================*/
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 72pt;
}
h3 {
    font-family: 'Playfair Display', serif; 
    font-size: 30pt;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: solid #FFCB3A;
}
h4 {
    font-size: 16pt;
    color: #FFCB3A;
}
#brand-statement {
    margin-bottom: 30px;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.main-btn {
    background: #FFCB3A;
    color: #fff;
    position: relative;
    display: inline-block;
    min-width: 155px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 24px;
    outline: none;
    transition: all .4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

/*==================Manual Media Queries==================*/
@media screen and (max-width: 980px) {
    h4 {
        font-size: 11pt;
    }
    .skills {
        padding: 10px;
        padding-right: 30px;
    }
    .skills-inner {
        padding: 2px;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 640px) {
    
}