/*CSS rules for google fonts*/
/*
font-family: 'Playfair Display', serif; 
    styles: regular, medium, black
font-family: 'League Script', cursive;
font-family: 'Raleway', sans-serif;
    styles: extra light, light, regular, italic
*/

/*==================background, header/footer/nav display==================*/
#home {
    background-image: url(../images/minimal.png);
    width: 100%;
    min-height: 600px;
    box-shadow: 3px 3px 5px #193829;
    background-size: cover;
}
.black-back {
    background-color: #1E2425;
    width: 100%;
    min-height: 280px;
    box-shadow: 3px black;
    padding-top: 70px;
}
.grey-back {
    background-color: #343B3C;
    width: 100%;
    min-height: 280px;
    box-shadow: 10px  3px 10px black;
    padding-top: 70px;
}
footer {
    background-color: black;
    width: 100%;
    padding: 40px;
}
nav {
    background-color: #511D47;
    box-shadow: 3px  3px 3px black;
}
.main {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
/*==================Text Styling==================*/
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 72pt;
}
h3 {
    font-family: 'Playfair Display', serif; 
}
body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.main-btn {
    background: #FFCB3A;
    color: #fff;
    position: relative;
    display: inline-block;
    min-width: 155px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 24px;
    outline: none;
    transition: all .4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}